* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
} 

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}    

#user-score,#Comp-score {
    font-size: 4rem;
}

.msg-box {
    margin-top: 5rem;
    text-align: center  ;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

button{
    margin-left: 2rem;
    padding: 20px;
    line-height: 1px;
    background-color: blue;
    color:#fff;
    height: 30px;
    font-weight: bold;
    border: solid black 5px;
    border-radius: 100% ;
}

button:hover {
    cursor: pointer;
    
}